/* footer  */
.footerSection {
  background-color: #131b24;
  height: 500px;
  color: white;
  padding-top: 70px;
  display: flex;
}
.footerwrapper {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 30px;
}
.footerCard h3 {
  font-size: 14px;
}
.footerCard a {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 12px;
  font-size: 13px;
  color: #96a3b1;
}
.footerImage {
  display: flex;
  gap: 10px;
}
.footerImage img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.footerSection h6 {
  color: #96a3b1;
}
